<!-- <!DOCTYPE HTML>
<html lang="en-US">
	

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cart - RapidShop</title>
		<link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800" rel="stylesheet" >
		<link href="http://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet" type="text/css" >		 
		<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">	
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="css/themify-icons.css" />
		<link rel="stylesheet" href="css/animate.css" />
		<link rel="stylesheet" href="css/owl.theme.default.min.css" />
		<link rel="stylesheet" href="css/owl.carousel.min.css" />
		<link rel="stylesheet" href="css/meanmenu.min.css" />
		<link rel="stylesheet" href="css/remodal.css" />
		<link rel="stylesheet" href="css/remodal-default-theme.css" />
		<link rel="stylesheet" href="css/venobox.css" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />	
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/responsive.css" />	
	</head> -->
    <%- include("../../views/layout/user/header",{user:user}) %>
	
	
	<body>
		<!-- Page item Area -->
		<div id="page_item_area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 text-left">
						<h3>Shop Details</h3>
					</div>      
					<div class="col-sm-6 text-right">
						<ul class="p_items">
							<li><a href="#">home</a></li>
							<li><a href="#">category</a></li>
							<li><span>Cart</span></li>
						</ul>                   
					</div>  
				</div>
			</div>
		</div>
		
		<!-- Cart Page -->
		<div class="cart_page_area">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="cart_table_area table-responsive">
							<table class="table cart_prdct_table text-center">
								<thead>
									<tr>
										<th class="cpt_no">No.</th>
										<th class="cpt_img">image</th>
										<th class="cpt_pn">product name</th>
										<th class="cpt_q">quantity</th>
										<th class="cpt_p">price</th>
										<th class="cpt_t">total</th>
										<th class="cpt_r">remove</th>
									</tr>
								</thead>
								<tbody>
									<% cart.forEach((item, index) => { %>
										<tr>
											<td><span class="cp_no"><%= index + 1 %></span></td>
											<td>
												<a href="#" class="cp_img">
													<a href="#" class="cp_img">
														<img src="/uploads/product-images/<%= item.productId.productImage[0] %>" alt="<%= item.productId.productName %>" />
													</a>
													
												</a>
											</td>
											<td><a href="#" class="cp_title"><%= item.productId.productName %></a></td>
											<td>                                        
												<div class="cp_quntty">                                                                                
													<input name="quantity" value="<%= item.quantity %>" size="2" type="number">                                                    
												</div>
											</td>
											<td><p class="cp_price">Rs<%= item.price %></p></td>
											<td><p class="cpp_total">Rs<%= item.totalPrice %></p></td>
											<td>
												<a href="/cart/remove/<%= item.productId._id %>" class="btn btn-default cp_remove">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-8 col-xs-12 cart-actions cart-button-cuppon">
						<div class="row">
							<div class="col-sm-7">
								<div class="cart-action">
									<a href="#" class="btn border-btn">continue shopping</a>
									<a href="#" class="btn border-btn">update shopping bag</a>
								</div>
							</div>
							
							<div class="col-sm-5">
								<div class="cuppon-wrap">
									<h4>Discount Code</h4>
									<p>Enter your coupon code if you have</p>
									<form action="#" class="cuppon-form">
										<input type="text" />
										<button class="btn border-btn">apply coupon</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-xs-12 cart-checkout-process text-right">
						<div class="wrap">
							<p><span>Subtotal</span><span>Rs<%= cart.subTotal %></span></p>
							<h4><span>Grand total</span><span>Rs<%= cart.grandTotal %></span></h4>
							<a href="/checkout" class="btn border-btn">proceed to checkout</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
	

		<%- include("../../views/layout/user/footer") %>